input[type = "submit"]{ 
    color: green;
    padding: 10px;
    border-radius: 10px;
    border: 2px dotted red;
}
    
select {
    background-color: cadetblue;
    border-radius: 10px;
    border: 2px dotted red;
}

    
* {
    background-color: #FBE4FF;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
}

